* {
    margin: 0;
    padding: 0;
}

body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    color:#444;
}

#main {
    width:100%;
    height:100%;
    overflow:hidden;
}

#wrapper {
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    border-radius: 0.5em;
    background:#fff; 
}

/* Menu */

section#menu {
    margin:20px;
}

section#menu {
    width:100%;
    height:40px;
}

section#menu > span {
    display:inline-block;
    margin-left:20px;
    margin-top:10px;
}

section#menu > span#title {
    border-right:1px #DADBE0 solid;
    margin-bottom:20px;
    display:inline-block;
    font-size:18px;
    font-weight:300;
    width:10%;
}

section#menu > span#playlist {
    border-right:1px #DADBE0 solid;
    width:60%;
    font-weight:bold;
    font-size:12px;
    text-transform: uppercase;
}

section#menu > span#search {
    width:20%;
    color:#A2A2A2;
    font-weight:bold;
    font-style:italic;
    font-size:14px;
}

section#menu > span#search > i {
    margin-right:10px;
}

/* Playing */
section#playing {
    overflow:hidden;
    position:relative;
    width:100%;
    height:180px;
}

section#playing > div#album {
    width:100%;
    height:100%;
    background-image: url("../img/bg.png");
}

section#playing > div#album > div#controls {
    position:absolute;
    bottom:0; 
    width:100%;
    height:33%;
    background-color:rgba(255,255,255,.4);
}

div#controls {
    width:100%
    height:100%;
}

div#buttons {
    display:inline-block;
    float:left;
    width:20%;
    text-align:center;
    border-right:1px solid transparent;
}

div#buttons > .rewind, div#buttons > .play, div#buttons > .forward {
    display:inline-block;
    font-size:18px;
    color:white;
    margin:20px;
}

div#buttons > .rewind, div#buttons > .forward {
    font-size:14px;
}

div#progress {
    display:inline-block;
    width:59%;
    height:100%;
    overflow:hidden;
} 

progress, progress::-webkit-progress-bar {
    -webkit-appearance: none;
    border:0;
    height:2px;
    background-color: #fff;
    width: 100%;
    margin-right:3.5%;
    margin-left:3.5%;
    position: relative;

}

progress {
    margin-top: 30px;
}

progress, ::-webkit-progress-value {
    background: #D6D6D6;

}

div#modes {
    display:inline-block;
    text-align:center;
    float:right;
    width:20%;
    height:100%;
    border-left:1px solid transparent;
}

div#modes > .volume {
    display:inline-block;
    font-size:20px;
    color:white;
    margin:20px;
}

div#modes > .volume {
    font-size:14px;
}

/* Sidebar */
section.sidebar {
    display:inline-block;
    width:20%;
    height:100%;
    background-color:#F1F2F4;
}

section.sidebar.left {
    border-right: solid #CED1D6 1px; 
    float:left;
}

section.sidebar.left > * {
    padding-left:15%;
    padding-right:15%;
}

section.sidebar > .list {
    margin-top:20px;
}

.list > ul.items > li {
    margin: 1em 0;
    font-size:12px; 
}

section.sidebar > .list > h3 {
    border-bottom:1px solid #D1CFD8;
    color: #434446;
    font-size:16px;
    font-weight:300;
    text-transform:uppercase;
    line-height:2;
}

h3.title {
    margin-top:20px;
    margin-bottom:20px;
}

ul.items > li {
    list-style-type:none;
}

section.sidebar.right {
    border-left: solid #CED1D6 1px; 
    float:right;
}

/* Grid */
section#grid {
    display:inline-block;
    width:59%;
    height:100%;
}

/* Elements */
div.element {
    display:inline-block;
    width:20%;
    height:150px;
    margin-left:3.5%;
    margin-top:3.5%;
    line-height:1.5;
}

div.element > img.cover {
    max-width:120px;
}

div.element > h4.artist {
    margin-top:5px;
    font-size:12px;
}

div.element > p.album {
    font-size:12px;
}
